/* TITLES START */

.mainTitle {
  font-size: 10.7vw;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px;
}
.mainTitle > span {
  color: #f5b201;
}

/* TITLES END */

.wrapperMainText {
  display: flex;
  justify-content: space-between;
}
.wrapperHeroMainText {
  max-width: 55%;
}
.heroMainText {
  font-size: 1.1vw;
}
.wrapperMainBtn {
  display: flex;
  gap: 40px;
  max-height: 50px;
}
.mainContactBtn {
  background-color: transparent;
  border: none;
  width: 17vw;
  font-size: 1.1vw;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
  color: #000;
}
.mainContactBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  border-top: 2px solid;
  border-left: 2px solid;
  transition: 0.3s;
}
.mainContactBtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 30px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transition: 0.3s;
}
.mainContactBtn:hover::before,
.mainContactBtn:focus::before,
.mainContactBtn:hover::after,
.mainContactBtn:focus::after {
  width: 105%;
  height: 110%;
}
.heroIMG {
  width: 100%;
}

.titleAboutUs,
.titleProperties,
.titleWant,
.titleAgents,
.titleReviews {
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.textAboutUs,
.textWant {
  font-weight: 500;
  font-size: 1.4vw;
  text-align: center;
  margin: 0 auto 100px;
  max-width: 82%;
  text-transform: uppercase;
}
.wrapperAboutInfo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.AboutInfo {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}
.wrapperTitleInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 40%;
}
.titleInfo {
  font-size: 1.4vw;
  font-weight: 700;
  text-transform: uppercase;
}
.textInfo {
  font-size: 1.1vw;
  max-width: 90%;
}
.containerInfoIMG {
  width: 100%;
  position: relative;
}
.infoIMG {
  width: 100%;
  max-height: 202px;
  position: relative;
  object-fit: cover;
}
.containerInfoIMG::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -5%;
  width: 27%;
  height: 85%;
  background-color: #f5b201;
}
.wrapperProperties {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.wrapperPropertiesLink {
  position: relative;
  color: #000;
  margin-bottom: 120px;
}
.wrapperPropertiesLink::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.wrapperPropertiesLink:hover::after,
.wrapperPropertiesLink:focus::after {
  background-color: rgba(255, 230, 0, 0.9);
}
.titleSale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 1;
  transition: 0.3s;
}
.wrapperPropertiesLink:hover h3,
.wrapperPropertiesLink:focus h3 {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
/* wantSection START */

.wantSection {
  background-color: #2b2e35;
  padding: 8% 0 5%;
}
.titleWant {
  color: #f5b201;
  text-align: center;
  margin-bottom: 65px;
}
.textWant {
  color: #f5b201;
}
.wrapperWannaInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.wrapperWantIMG {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 642px;
}
.wantIMG {
  position: relative;
  z-index: 1;
  transition: z-index 0.3s;
}
.wantIMG:nth-child(2),
.wantIMG:nth-child(3),
.wantIMG:last-child {
  position: absolute;
}

@keyframes fade {
  0% {
    z-index: 5;
  }
  25%,
  100% {
    z-index: 1;
  }
}

/* Анимация для каждого изображения */
@keyframes fade1 {
  25%,
  50% {
    z-index: 5;
  }
}
@keyframes fade2 {
  50%,
  75% {
    z-index: 5;
  }
}
@keyframes fade3 {
  75%,
  99% {
    z-index: 5;
  }
}

/* Применяем анимацию к каждому изображению */
.wantIMG:nth-child(1) {
  animation: fade 12s infinite;
}
.wantIMG:nth-child(2) {
  animation: fade1 12s infinite;
}
.wantIMG:nth-child(3) {
  animation: fade2 12s infinite;
}
.wantIMG:nth-child(4) {
  animation: fade3 12s infinite;
}

.wrapperWantInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.titleWantInfo {
  font-size: 2vw;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #f5b201;
}
.textWantInfo {
  font-size: 1.6vw;
  margin-bottom: 142px;
  color: #f5b201;
}
.mainContactBtnY {
  color: #f5b201;
  padding: 12px;
  margin: 0 auto;
}

/* wantSection END */
/* agentsSection START */

.wrapperAgentsList {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 44px;
}
.agentsIMG {
  filter: grayscale(100%);
  margin-bottom: 25px;
}
.wrapperAgentsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.titleAgentsName {
  font-size: 1.9vw;
  text-transform: uppercase;
}
.textAgentPos {
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 500;
}
.phoneAgentsLink,
.profileAgentsLink,
.allAgentsLink {
  color: #000;
  font-size: 1.1vw;
  transition: 0.3s;
}
.profileAgentsLink,
.allAgentsLink {
  text-decoration: underline;
}
.profileAgentsLink:hover,
.allAgentsLink:hover,
.profileAgentsLink:focus,
.allAgentsLink:focus,
.phoneAgentsLink:hover,
.phoneAgentsLink:focus {
  font-weight: 600;
  color: #2b2e35;
}

/* agentsSection END */

@media (max-width: 445px) {
  .mainTitle {
    font-size: 16vw;
    white-space: normal;
    text-align: left;
  }
  .wrapperMainText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapperHeroMainText {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .heroMainText {
    font-size: 4.2vw;
  }
  .wrapperMainBtn {
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
    align-items: center;
  }
  .mainContactBtn {
    width: 50%;
    font-size: 4vw;
  }
  .heroIMG {
    min-height: 298px;
    object-fit: cover;
    width: 100%;
  }

  .titleAboutUs,
  .titleProperties,
  .titleWant {
    font-size: 9vw;
    margin-bottom: 30px;
  }
  .textAboutUs {
    font-size: 3.9vw;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .AboutInfo {
    flex-direction: column;
    position: relative;
    gap: 80px;
  }
  .wrapperTitleInfo {
    max-width: 100%;
  }
  .titleInfo {
    font-size: 5.5vw;
  }
  .textInfo {
    font-size: 4vw;
  }
  .containerInfoIMG {
    width: 90%;
    margin-left: auto;
  }
  .containerInfoIMG::after {
    width: 80%;
  }
  .infoIMG {
    height: 202px;
  }

  .wrapperProperties {
    flex-direction: column;
  }
  .titleSale {
    font-size: 10vw;
    font-weight: 700;
    text-shadow: 1px 1px 1px #fff;
  }
  .textWant {
    font-size: 2.4vw;
    margin-bottom: 50px;
  }
  .wrapperWannaInfo {
    flex-direction: column;
  }
}
