.titleMembership {
  font-size: 15vw;
  margin-bottom: 20px;
  text-align: center;
}
.titleMembership > span {
  color: #f5b201;
}
.membershipHeroIMG {
  width: 100%;
}
.titleWannaPartTeam {
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}
.titleWannaPartTeam > span {
  color: #f5b201;
}
.textUnderTitleWannaPartTeam {
  font-size: 1.5vw;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  font-weight: 500;
}
.wrapperOurPlusWanna {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.ourPlusWanna {
  width: calc((100% - 100px) / 3);
  display: flex;
  gap: 10px;
}
.titleOurPlusNumbersWanna {
  font-size: 7vw;
  font-weight: 900;
  color: #fed152;
}
.titleAboutUsTeamWanna {
  font-size: 1.2vw;
  text-transform: uppercase;
}
.gfdgwrvdsvbetrwsxcvWanna {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20%;
}
.gfdgwrvdsvbetrwsxcvWanna > p {
  font-size: 0.9vw;
  text-transform: uppercase;
}
.justWeSection {
  background-color: #2b2e35;
  position: relative;
  min-height: 1100px;
  padding: 50px 0;
}
.titleGBNaPartners {
  font-size: 9vw;
  font-weight: 500;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  color: #f5b201;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 5;
  text-shadow: 5px 1px 11px #000;
}
.GBNSEctionIMG {
  position: absolute;
  max-width: 350px;
}
.GBNSEctionIMG:nth-child(2) {
  right: 5%;
  top: 10%;
}
.GBNSEctionIMG:nth-child(3) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.GBNSEctionIMG:nth-child(4) {
  left: 5%;
  bottom: 15%;
}
.GBNSEctionIMG:nth-child(5) {
  right: 8%;
  bottom: 5%;
}
.FAQMembershipSection > .container:first-child {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  margin-bottom: 150px;
}
.wrapperFAQs {
  width: 70%;
}
.titleFAQ {
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.titleFAQContainer > .titleFAQ {
  text-align: center;
  max-width: 85%;
  margin: 0 auto 100px;
}
.wrapperFAQAnswers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FAQAnswer {
  border-bottom: 1.5px solid #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.titleAnswer {
  font-size: 1.3vw;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapperPhotoFAQs {
  position: relative;
}
.wrapperPhotoFAQsIMG {
  position: relative;
  z-index: 2;
}
.wrapperPhotoFAQs::before {
  position: absolute;
  content: '';
  top: -25px;
  left: -25px;
  background-color: #fed152;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.formFAQs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 100px;
  width: 100%;
  position: relative;
}
.labelInputFAQ {
  position: relative;
  display: block;
  border-bottom: 1px solid #484848;
  height: 40px;
  width: 100%;
}
.inputUserDateFAQ {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  padding: 10px;
  width: 100%;
  font-size: 1.1vw;
  bottom: 0;
  color: #000;
}
.textInInputFAQ {
  color: #000;
  font-size: 1vw;
  position: absolute;
  top: 12px;
  left: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: text;
}
.labelInputFAQ .inputUserDateFAQ:focus + .textInInputFAQ,
.labelInputFAQ .inputUserDateFAQ:valid + .textInInputFAQ {
  top: -35%;
  font-size: 0.8vw;
  background-color: #fff;
  padding: 0 5px;
  color: #282828;
  font-weight: 400;
  opacity: 0.7;
}
.mainContactBtnFAQ {
  margin: 20px auto;
  grid-area: 3 / 1 / 4 / 3;
}
