.modalWindowJoinUs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  transition: 0.3s;
  z-index: 999;
  opacity: 0;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.modalContentJoinUs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  max-width: 687px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  border: none;
  transform: translate(-50%, -50%);
}
.modalJoinUsIMG {
  height: 100%;
  object-fit: cover;
  width: 100%;
  grid-area: 1 / 1 / 10 / 3;
}
.modalContentJoinUs > article {
  padding: 20% 7%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #2b2e35;
  justify-content: space-between;
  grid-area: 1 / 3 / 8 / 6;
}
.titleModalJoinUs {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
}
.textModalJoinUs {
  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.formModalJoinUs {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.labelInputModalJoinUs {
  position: relative;
  display: block;
  border-bottom: 1px solid #484848;
  height: 40px;
  width: 100%;
}
.inputUserDateModalJoinUs {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  padding: 10px;
  width: 100%;
  font-size: 1.1vw;
  bottom: 0;
  color: #000000;
  left: 0;
}
.textInInputModalJoinUs {
  color: #000000;
  font-size: 1vw;
  position: absolute;
  top: 12px;
  left: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: text;
  opacity: 0.7;
}
.labelInputModalJoinUs
  .inputUserDateModalJoinUs:focus
  + .textInInputModalJoinUs,
.labelInputModalJoinUs
  .inputUserDateModalJoinUs:valid
  + .textInInputModalJoinUs {
  top: -18%;
  font-size: 0.8vw;
  background-color: #ffffff;
  padding: 0 5px;
  color: #000000;
  font-weight: 400;
}
.mainContactBtnModalJoinUs {
  position: relative;
  bottom: -20%;
  margin: 0 auto;
  grid-area: 8 / 3 / 9 / 6;
  max-height: 50px;
}
@media (max-width:445px){
  .modalContentJoinUs{
    width: 100%;
    height: 100%;
  }
  .modalJoinUsIMG{
    grid-area: 1 / 1 / 3 / 6;
  }
  .modalContentJoinUs > article{
    grid-area: 3 / 1 / 9 / 6;
    padding: 10% 5%;
    gap: 5%;
  }
  .mainContactBtnModalJoinUs{
    grid-area: 9 / 1 / 10 / 6;
    font-size: 3vw;
  }
  .titleModalJoinUs{
    font-size: 7vw;
  }
  .textModalJoinUs{
    font-size: 2.8vw;
  }
  .formModalJoinUs{
    gap: 15px;
  }
  .inputUserDateModalJoinUs{
    font-size: 3.2vw;
    padding: 5px;
  }
  .textInInputModalJoinUs{
    font-size: 3vw;
  }
  .labelInputModalJoinUs
  .inputUserDateModalJoinUs:focus
  + .textInInputModalJoinUs,
.labelInputModalJoinUs
  .inputUserDateModalJoinUs:valid
  + .textInInputModalJoinUs{
    font-size: 2vw;
  }
}