.PropertiesSlider {
  overflow: hidden;
}
.PropertiesSlider .slideProperties {
  display: flex;
  max-width: 671px;
  max-height: 560px;
  width: auto;
}
.wrapperPropertiesInfo {
  padding: 30px 40px 52px;
  background-color: #f5b201;
}
.wrapperAgentInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 52px;
}
.textUserCommentProperties {
  font-size: 1rem;
}
.titleAboutCardProperties {
  font-size: 1.2rem;
  font-weight: 700;
}
.textAboutCardPropetries {
  font-size: 1rem;
  margin-bottom: 70px;
}
.wrapperLostCardProperties {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: disc;
  margin-bottom: 51px;
}
.titlePriceCardProperties {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 60px;
}
.linkToReviewsCardProperties {
  color: #000;
  border-bottom: 1px solid #575757;
  text-transform: uppercase;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #000;
}

@media (max-width: 445px) {
  .slidePropertiesIMG {
    max-width: 165px;
    max-height: 338px;
  }
  .wrapperPropertiesInfo {
    padding: 20px 15px;
  }
  .userPhotoIMG {
    max-width: 30px;
    max-height: 30px;
  }
  .wrapperAgentInfo {
    margin-bottom: 20px;
  }
  .textUserCommentProperties {
    font-size: 0.6rem;
  }
  .titleAboutCardProperties {
    font-size: 1.5rem;
  }
  .textAboutCardPropetries {
    font-size: 0.9rem;
    margin-bottom: 25px;
  }
  .wrapperLostCardProperties{
    padding-left: 20px;
    gap: 10px;
    margin-bottom: 40px;
  }
  .titlePriceCardProperties{
    margin-bottom: 32px;
  }
  .linkToReviewsCardProperties{
    font-size: 3vw;
  }
}
