.titleBlog {
  font-size: 25vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.9;
  text-align: center;
  position: relative;
  z-index: 10;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titleBlog > span {
  color: #f5b201;
}
.wrapperMainBtnBlog {
  justify-content: center;
}
.heroBlogIMG {
  width: 100%;
  filter: brightness(30%);
}
.wrapperLastNews {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.wrapperLastNewsIMG {
  max-width: 50%;
  position: relative;
}
.wrapperLastNewsIMG::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5%;
  right: -5%;
  background-color: #f5b201;
  z-index: -1;
}
.wrapperLastNewsInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
  position: relative;
}
.textDateOfPublication {
  font-size: 1vw;
  text-transform: uppercase;
}
.titleLastNews {
  text-transform: uppercase;
  font-size: 2.1vw;
  font-weight: 500;
}
.ingoAboutNews {
  font-size: 1vw;
  margin-bottom: 20px;
}
.wrapperOldNews {
  display: flex;
  gap: 2%;
}
.OldNewsCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  transition: 0.3s;
}
.wrapperOldNewsInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkToReadAboutOldNews {
  color: #000;
  text-decoration: underline;
}
.linkToReadAboutOldNews:hover,
.linkToReadAboutOldNews:focus {
  font-weight: 500;
}
.OldNewsCard:hover,
.OldNewsCard:focus {
  transform: scale(1.1);
}

.wrapperReadMoreLastNews{
    opacity: 0;
    position: absolute;
    transition: 0.4s;
    transform: translateY(-180px);
  }
  .wrapperReadMoreLastNews ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    list-style-type: decimal;
  }
  .wrapperReadMoreLastNews ul li span{
    font-weight: 700;
  }

  .showReadMoreBlog{
    opacity: 1;
    position: relative;
    transform: translateY(0);
  }

@media (max-width: 445px){
  .titleBlog{
    margin-bottom: 20px;
  }
  .ourBlogSection{
    margin-bottom: 40px;
  }
  .wrapperLastNews{
    flex-direction: column;
  }
  .wrapperLastNewsIMG{
    max-width: 95%;
  }
  .wrapperLastNewsInfo{
    max-width: 100%;
  }
  .textDateOfPublication{
    font-size: 4vw;
  }
  .titleLastNews{
    font-size: 5vw;
    font-weight: 600;
  }
  .ingoAboutNews{
    font-size: 5vw;
  }
  .mainContactBtnNewsReadMore{
    margin: 0 auto;
  }
  .wrapperOldNews{
    flex-direction: column;
  }
  .linkToReadAboutOldNews{
    margin-bottom: 20px;
  }

  
}